.popup-body {
  min-width: 300px;
  box-shadow: none;
}

.add-to-watchlist-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.clear-watchlist-btn {
  font-size: 12px;
  background: transparent;
  border: 0;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

.clear-watchlist-btn:hover {
  text-decoration: underline;
}

.watchlist-wrapper {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.watchlist-item {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px 8px;
}

.watchlist-item:hover {
  background-color: #ebebeb;
}
